body{
    margin: 0px;
    font-family: 'Segoen UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f8f9fa;
}

.container{
    max-width: 500px;
    margin: auto;
    padding: 5x;
}

header{
    /* background-color: linear-gradient(to_right, #0062E6, #33AeFF); */
    background-color: #007bff;
    color: white;
    padding: 5px 0;
    box-shadow: 0 2px 8px rgba(red, green, blue, 0.1);
    text-align: center;
}

header h1{
    margin: 0;
    font-size: 28px;
    text-align: center;
    letter-spacing: 1px;
}

nav{
    text-align: center;
    margin-top: 10px;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav a:hover{
    color: #ffd700;
}

footer{
    background-color: #343a40;
    color: #ccc;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
    margin-top: 60px;
    box-shadow: 0 -2px 8px rgba(red, green, blue, 0.1);
}

.flash.success{color: green;}
.flash.danger{color: red;}
.flash.info{color: blue;}

.login-box{
    max-width: 300px;
    margin: 25px auto;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(red, green, blue, 0.1);
    /* text-align: center; */
}

.login-box h2{
    text-align: center;
    margin-bottom: 15px;
}

.form-group label{
    display: block;
    font-weight: bold;
    margin-bottom: 15px;
}

.form-group input{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.btn{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover{
    background-color: #0056b3;
}

.task-box{
    max-width: 700px;
    margin: 14px auto;
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(red, green, blue, 0.1);
}

.task-form{
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.task-form input[type="text"]{
    flex: 1;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

task-form .btn{
    padding: 12px 20px;
    font-size: 16px;
}

.task-table{
    width: 100%;
    border-collapse: collapse;
}

.task-table th,
.task-table td{
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.task-table th{
    background-color: #f2f2f2;
}

.btn-detete{
    background-color: #dc3545;
    color: white;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    text-decoration: none;
}

.btn-detete:hover{
    background-color: #c82333;
}

.basge{
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: bold;
    color: white;
}
.badge.pending{
    background-color: #ffc107;
}

.badge.working{
    background-color: #17a2b8;
}

.badge.done{
    background-color: #28a745;
}

.btn-small{
    font-weight: 12px;
    padding: 6px 12px;
    border: none;
    background-color: #6c767d;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-small:hover{
    background-color: #495057;
}

.btn-clear{
    background-color: #dc3545;
    margin-bottom: 10px;
}

.btn-clear:hover{
    background-color: #c82333;
}